header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.header .logo {
    margin-left: 20px;
    /* Assume you use a background image as the logo. */
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}
